/* Navbar Css Start */
#navbar {
    background: rgba(209, 193, 193, 0.227);
}
.navbar-wrapper ul li a::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: #fb0000;
    width: 0;
    transition: all linear 0.3s;
    /* transform: ; */
}
.navbar-wrapper ul li a:hover::after{
    width: 150%;
}
/* Navbar Css End */


